<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="Fizzler" version="1.2.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.14.5" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="12.0.4518.1014" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="12.0.4518.1014" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="12.0.4518.1014" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net45" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Office" version="12.0.0" targetFramework="net45" />
  <package id="SharpShell" version="2.7.2" targetFramework="net461" />
  <package id="Svg" version="3.0.84" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net461" />
</packages>